.openshift_install.log
.openshift_install_state.json
bootstrap-in-place-for-live-iso.ign
install-config.yaml
ocp/
openshift-install
pull-secret.json
rhcos-10.2.20260423-0102-live-iso.aarch64.iso
ssh.pub
tpm.ign
